# Week 3 Assignment: Getting Toronto Neighborhood Data

#### Import Libraries

In [54]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests

#### Scrape Wikipedia link for table html info

In [55]:
wikiurl="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
soup = bs(response.text, 'html.parser')
postal_code_table=soup.find('table',{'class':"wikitable"})

#### Read data into dataframe

In [56]:
postal_df = pd.read_html(str(postal_code_table))
postal_df = pd.DataFrame(postal_df[0])
postal_df

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

#### Clean 'Not Assigned' rows

In [57]:
postal_df['Borough'] == 'Not assigned'

0       True
1       True
2      False
3      False
4      False
       ...
175     True
176     True
177     True
178    False
179     True
Name: Borough, Length: 180, dtype: bool

In [58]:
cleared_df = postal_df.drop(index=postal_df[postal_df['Borough'] == 'Not assigned'].index, axis=0).reset_index()
cleared_df.drop('index', inplace=True,axis=1)
cleared_df

,Postal Code,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

#### Check for postal codes with more than one entry ... there aren't any

In [59]:
cleared_df['Postal Code'].value_counts(sort=True,ascending=False)

M5A    1
M9V    1
M3C    1
M8Y    1
M5P    1
      ..
M8X    1
M2R    1
M5M    1
M4R    1
M9L    1
Name: Postal Code, Length: 103, dtype: int64

### It seems as if someone went in and combined all the neighborhoods with common postal codes already :)

Print shape of data frame;  Also, someone seems to have handled the instances in which there are entries with 'not assigned' neighborhoods and assigned boroughs, based on visual inspection of the dataset

In [60]:
cleared_df.shape

(103, 3)

In [61]:
cleared_df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

# Part 2: Getting Latitude and Longitude

In [62]:
df = pd.read_csv('https://cocl.us/Geospatial_data')
df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [101]:
cleared_df['Latitude'] = float(0)*cleared_df.shape[0]
cleared_df['Longitude'] = float(0)*cleared_df.shape[0]
cleared_df

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,0.0,0.0
1,M4A,North York,Victoria Village,0.0,0.0
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",0.0,0.0
3,M6A,North York,"Lawrence Manor, Lawrence Heights",0.0,0.0
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",0.0,0.0
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",0.0,0.0
99,M4Y,Downtown Toronto,Church and Wellesley,0.0,0.0
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",0.0,0.0
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",0.0,0.0
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",0.0,0.0

In [103]:
for idx, code in enumerate(cleared_df['Postal Code']):
        for idx2, code2 in enumerate(df['Postal Code']):
            if code == code2:
                cleared_df.set_value(idx,'Latitude', df['Latitude'][idx2])
                cleared_df.set_value(idx,'Longitude', df['Longitude'][idx2])
cleared_df

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999